{% extends 'base.html' %}
{% block title %}RT/RW{% endblock title %}

{% block content %}
<div class="main">
  <div class="main-content">
	<div class="container-fluid">
		
		<div class="row">
			<div class="col-md-12">
				<!-- BORDERED TABLE -->
				<div class="panel">
				  <div class="panel-heading col-md-3 col-sm-3">
					<h3 class="panel-title"><b>Daerah Pemilihan 12</b></h3>
				  </div>
		          <div class="panel-heading col-md-4 col-sm-4">
		            <a href="{% url 'dapil:rtrw-create' %}" class="btn btn-default">Add RT/RW</a>
		            <a href="" class="btn btn-default">Export CSV</a>
		          </div>
		            <div class="panel-heading col-md-5 col-sm-5">
		              <form method="GET" class="navbar-left">
		                <div class="input-group">
		                  <input type="text" name="q" class="form-control" placeholder="Search data...">
		                  <span class="input-group-btn"><input type="submit" name="submit" value="Go" class="btn btn-primary"></span>
		                </div>
		              </form>
		            </div>
					<div class="panel-body">
						<table class="table table-bordered">
							<thead>
								<tr>
									<th>Kabupaten/Kota</th>
									<th>Kecamatan</th>
									<th>Kelurahan</th>
									<th>RT/RW</th>
									<th>Action</th>
								</tr>
							</thead>
							<tbody>
								{% for rtrw in name_rtrw %}
								<tr>
									<td>{{rtrw.kelurahan.kecamatan.kabupaten}}</td>
									<td>{{rtrw.kelurahan.kecamatan}}</td>
									<td>{{rtrw.kelurahan}}</td>
									<td>RT {{rtrw.rt}}/ RW {{rtrw.rw}}</td>
									<td>
										<a href="{% url 'dapil:rtrw-edit' rtrw.pk %}"><i class="fa fa-edit"></i></a> | 
										<a href="{% url 'dapil:rtrw-delete' rtrw.pk %}"><i class="fa fa-trash"></i></a></td>
								</tr>
								{% endfor %}

							</tbody>
						</table>

					</div>
				</div>
				<!-- END BORDERED TABLE -->
			</div>
		</div>
	</div>  	
  </div>
</div>

{% endblock content %}
