{% extends 'base.html' %}

{% load bootstrap %}
{% block title %}Add TPS{% endblock title %}

{% block content %}
<div class="main">
  <div class="main-content">
  <div class="container-fluid">

    <div class="row">
      <div class="col-md-12">
        <!-- BORDERED TABLE -->
        <div class="panel">
          <div class="panel-heading">
            <h3 class="panel-title"><b>Tempat Pemungutan Suara</b></h3>
            <hr>
          </div>
          <div class="panel-body">
            <form method="POST" id="tpsForm" data-kelurahan-url="{% url 'dapil:ajax_load_kelurahan' %}" novalidate>{% csrf_token %}
              <div class="row">
              <div class="col-md-8">
              {{form|bootstrap_horizontal}}
              </div>
              <div class="col-md-4"></div>
                
              </div>
              <br>
              <div class="row">
                <div class="col-md-2 col-sm-2 col-xs-12"></div>
                <div class="col-md-10 col-sm-10 col-xs-12">
                  <input type="submit" name="submit" class="btn btn-primary" value="Submit">
                  <input type="reset" name="reset" class="btn btn-primary" value="Cancel">
                </div>
            </form>       
          </div>
        </div>
        <!-- END BORDERED TABLE -->
      </div>
    </div>
  </div>    
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
    $("#id_kecamatan").change(function () {
      var url = $("#tpsForm").attr("data-kelurahan-url");  // get the url of the `load_cities` view
      var kecamatanId = $(this).val();  // get the selected country ID from the HTML input

      $.ajax({                       // initialize an AJAX request
        url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
        data: {
          'kecamatan': kecamatanId;      // add the country id to the GET parameters
        },
        success: function (data) {   // `data` is the return of the `load_cities` view function
          $("#id_kelurahan").html(data);  // replace the contents of the city input with the data that came from the server
        }
      });

    });
</script>
{% endblock content %}
