<!-- LEFT SIDEBAR -->
<div id="sidebar-nav" class="sidebar">
  <div class="sidebar-scroll">
    <nav>
	  <ul class="nav">
	
		<li><a href="{% url 'home' %}" class=""><i class="lnr lnr-home"></i> <span>Dashboard</span></a></li>
	
		<li><a href="{% url 'dapil:dapil' %}" class=""><i class="lnr lnr-map"></i> <span>DAPIL 12</span></a></li>

		<li><a href="{% url 'post:list-korcam' %}" class=""><i class="lnr lnr-user"></i> <span>KORDINATOR</span></a></li>	
		
		<li><a href="{% url 'post:list-relawan' %}" class=""><i class="lnr lnr-user"></i> <span>RELAWAN</span></a></li>
	
		<li><a href="{% url 'post:list-capem' %}" class=""><i class="lnr lnr-users"></i> <span>TARGET CAPIL</span></a></li>
	  

	  </ul>
	</nav>
  </div>
</div>
<!-- END LEFT SIDEBAR -->