{% extends 'base.html' %}

{% load bootstrap %}
{% block title %}Add Target{% endblock title %}

{% block content %}
<div class="main">
  <div class="main-content">
  <div class="container-fluid">

    <div class="row">
      <div class="col-md-12">
        <!-- BORDERED TABLE -->
        <div class="panel">
          <div class="panel-heading">
            <h3 class="panel-title"><b>Tambah Target Calon Pemilih</b> dari asisten {{rel.nama}}, wilayah {{rel.target_kelurahan}}</h3>
            
          </div>
          <div class="panel-body" style="">
            <form method="POST">{% csrf_token %}
              {{form|bootstrap_horizontal}}
              <br>
              <input type="submit" name="submit" class="btn btn-primary" value="Submit">
              <input type="reset" name="reset" class="btn btn-primary" value="Cancel">
            </form>        
          </div>
        </div>
        <!-- END BORDERED TABLE -->
      </div>
    </div>
  </div>    
  </div>
</div>
{% endblock content %}

<!--
membuat validation error dengan bantuan manual template visible field
-->